<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCTO AUTO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="bg-light">
<div class="container py-5">
    <h1 class="mb-4 text-center">PCTO Automatico</h1>
    <form method="POST" class="w-50 mx-auto p-4 bg-white rounded shadow">
        <div class="mb-3">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-danger w-100">Inizia Lezioni</button>
    </form>
</div>
</body>
</html>

